.button {
    padding: .6rem .8rem;
    border-radius: 5px;
    border-color: transparent;
    background-color: #344454;
    color: #88A4DF;
    transition: all 0.3s ease;
}

.button:hover {
    cursor: pointer;
    background-color: #23394e;
}

@media all and (max-width: 992px) {
    .button {
        width: 100%;
        margin-top: .75rem;
    }
}